<script src="revealjs-plugins/copycode/copycode.js"></script> 
<script>
  Reveal.registerPlugin(CopyCode) 
  Reveal.configure()
</script>
<!-- <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"
/> -->
<style>
:root {
  --r-heading1-size: 1em !important;
}

code:not([class]) {
  background-color: #6b6b6b;
}
</style>
